<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.8" >
    <%= javascript_include_tag 'application' %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <header class="header">

    <div class="logo">
      <%= link_to (image_tag("NewCaulogo.png", size:"110x35", :alt => "rss feed")), "/", :class => "logo-link" %>
    </div>

    <div class="header-item-container">
      <nav class="navigation">
        <%= link_to 'Home', root_path, :class => "link nav-link" %>
        <%= link_to 'Contact', root_path, :class => "link nav-link" %>
        <%= link_to 'Team', team_index_path, :class => "link nav-link" %>
        <% if user_signed_in? %>
            <%= current_user.name %> 님
            <%= link_to '로그아웃', destroy_user_session_path, method: :delete, :class => "link nav-link" %>
            <%= link_to "Roles : " + user_roles(current_user), '#', :class => "link nav-link"%>
          </div>
        <% else %>
          <%= link_to '회원가입', new_user_registration_path, :class => "link nav-link" %>
          <%= link_to '로그인', new_user_session_path, :class => "link nav-link" %>

        <% end %>

          </li>

      </nav>


    </div>


  </header>

  <body>
    <!-- 예쁘게 보이는 flash message  -->
    <%= render partial: "devise/shared/flash_messages", flash: flash %>
<!--
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= yield %>
  </body>

  <footer>


  </footer>

</html>
